.popup{
	position:absolute;
	left:10px;
	top:10px;
	background-color: grey;
}

/*#browsing{
	width:600px;
}
.files_item{
	height: 40px;
	width: 600px;
}

.files_item > * {
	display: inline-block;
}

.files_item > span{
	width: 80%;
	line-height: 40px;
}

.files_item > input{
	width:100px;
}*/