.window{
	background-color: white;
	border-color: #ef4135;
	border-style: solid;
}

.window > .caption{
	display: inline-block;
	width: 100%;
}
.window > .caption > .title{
	width: 90%;
	display: inline-block;
}

.window > *{
	padding-bottom: 3px;
	padding-left: 3px;
}
.window > .content {
	position:relative;
}
.window > .footer{
	position: relative;
}

.window > .footer > .button{

}

.text{
	display: inline-block;
}

.text > input{
	display: inline-block;
}